.sliderman-main
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sliderman-container-outer-row
{
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow: hidden;
}

.sliderman-container-outer-col
{
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.sliderman-container-inner-row
{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sliderman-container-inner-col
{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sliderman-container-inner-col-h1
{
    height: calc(100% - 20px);
}


.sliderman-container-inner-col-h2
{
    height: calc(100% - 40px);
}

.sliderman-menu-left > .sliderman-menu-item > p
{
    font-size: 10px;
    color: #FFF;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sliderman-middle-buffer
{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}

.sliderman-panel
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events: all;
}

.sliderman-panel-inner
{
    width: inherit;
    height: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    pointer-events: all;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #ffffff;
}

.sliderman-panel-top .sliderman-resizer, .sliderman-panel-bottom .sliderman-resizer
{
    height: 7px;
    cursor: row-resize;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background-position-y: 1px;
    background: #F0F0F0 url(resize-h.png) no-repeat 50% 50%;
}

.sliderman-panel-left .sliderman-resizer, .sliderman-panel-right .sliderman-resizer
{
    min-width: 7px;
    width: 7px;
    cursor: col-resize;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    background-position-x: 1px;
    background: #F0F0F0 url(resize-v.png) no-repeat 50% 50%;
}

.sliderman-panel-toolbar
{
    background-color: #0C82CF;
    color: #F0F0F0;
    height: 20px;
    line-height: 20px;
    border-top: 2px solid #3198D9;
    border-bottom: 1px solid #06629E;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

.sliderman-panel-toolbar-title
{
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

.sliderman-panel-toolbar-button
{
    cursor: pointer;
}

.sliderman-panel-content
{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
}

.sliderman-panel-left
{
    z-index: 1;
}

.sliderman-panel-top, .sliderman-panel-bottom
{
    z-index: 2;
}

.sliderman-panel-right
{
    z-index: 3;
}

.sliderman-panel-left, .sliderman-panel-right
{
    width: 25%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.sliderman-panel-top, .sliderman-panel-bottom
{
    height: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sliderman-menu
{
    background-color: #0C82CF;
    border-top: 2px solid #3198D9;
    border-bottom: 1px solid #06629E;
    display: none;
}

.sliderman-menu-left, .sliderman-menu-right
{
    width: 20px;
}

.sliderman-menu-top, .sliderman-menu-bottom
{
    height: 20px;
}

.sliderman-menu-left
{
    border-right: 1px solid #06629E;
}

.sliderman-menu-right
{
    border-left: 1px solid #06629E;
}

.sliderman-menu-item
{
    color: #F0F0F0;
}

.sliderman-menu-item.active
{

}

@media only screen and (max-width: 500px)
{
    .sliderman-panel
    {
        border: none;
    }

    .sliderman-resizer, .sliderman-panel-toolbar, .sliderman-menu
    {
        display: none !important;
    }

    .sliderman-panel-left, .sliderman-panel-right
    {
        width: 100%;
    }
}