div.sliderman-main
{
    flex: 1;
}

div.sliderman-container-outer-row
{
    position: absolute;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

div.sliderman-container-outer-col
{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

div.sliderman-container-inner-row
{
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
}

div.sliderman-container-inner-col
{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

div.sliderman-container-inner-col-h1
{
    height: calc(100% - 20px);
}


div.sliderman-container-inner-col-h2
{
    height: calc(100% - (20px * 2));
}

div.sliderman-menu-left > div.sliderman-menu-item > p
{
    font-size: 10px;
    color: #FFF;
    transform: rotate(270deg);
}

div.sliderman-middle-buffer
{
    flex: 3;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.sliderman-panel
{
    display: flex;
    pointer-events: all;
}

div.sliderman-panel-inner
{
    display: flex;
    flex-direction: column;
    pointer-events: all;
    flex: 1;
    background-color: #ffffff;
}

div.sliderman-panel-top div.sliderman-resizer, div.sliderman-panel-bottom div.sliderman-resizer
{
    height: 7px;
    cursor: row-resize;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    background: url(resize-h.png) 50% no-repeat;
    background-position-y: 1px;
    background-color: #F0F0F0;
}

div.sliderman-panel-left div.sliderman-resizer, div.sliderman-panel-right div.sliderman-resizer
{
    width: 7px;
    cursor: col-resize;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    background: url(resize-v.png) 50% no-repeat;
    background-position-x: 1px;
    background-color: #F0F0F0;
}

div.sliderman-panel-toolbar
{
    background-color: #0C82CF;
    color: #F0F0F0;
    height: 20px;
    border-top: 2px solid #3198D9;
    border-bottom: 1px solid #06629E;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

div.sliderman-panel-toolbar-title
{
    font-size: 12px;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
}

span.sliderman-panel-toolbar-button
{
    cursor: pointer;
}

div.sliderman-panel-content
{
    flex: 1;
    overflow: auto;
}

div.sliderman-panel-left
{
    z-index: 1;
}

div.sliderman-panel-top, div.sliderman-panel-bottom
{
    z-index: 2;
}

div.sliderman-panel-right
{
    z-index: 3;
}

div.sliderman-panel-left, div.sliderman-panel-right
{
    width: 25%;
    flex-direction: row;
}

div.sliderman-panel-top, div.sliderman-panel-bottom
{
    height: 25%;
    flex-direction: column;
}

div.sliderman-menu
{
    background-color: #0C82CF;
    border-top: 2px solid #3198D9;
    border-bottom: 1px solid #06629E;
    display: none;
}

div.sliderman-menu-left, div.sliderman-menu-right
{
    width: 20px;
}

div.sliderman-menu-top, div.sliderman-menu-bottom
{
    height: 20px;
}

div.sliderman-menu-left
{
    border-right: 1px solid #06629E;
}

div.sliderman-menu-right
{
    border-left: 1px solid #06629E;
}

div.sliderman-menu-item
{
    color: #F0F0F0;
}

div.sliderman-menu-item.active
{
    
}

@media only screen and (max-width: 500px)
{
    div.sliderman-panel
    {
        border: none;
    }

    div.sliderman-resizer, div.sliderman-panel-toolbar, div.sliderman-menu
    {
        display: none !important;
    }

    div.sliderman-panel-left, div.sliderman-panel-right
    {
        width: 100%;
    }
}